.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.cell_active {
  background: #6ab9ff;
}

.highlight {
  background: lightgreen;
}

.select_active {
  background: #bedfff;
}

.settingsOption {
  user-select: none;
}
